:root {
    --nav-bar-height: 75px;
}

* {
    font-family: "Karla", sans-serif;
    /* Karla para */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1:not(#header-nav),
h2,
h3 {
    font-size: 75px;
    font-family: "Fredoka", sans-serif;
}
p{
    /* letter-spacing: 0.3px; */
    font-size: 20px; /* Adjust size for readability */
    line-height: 1.6; /* Improves spacing between lines */
}

#About {
    background-color: blue;
}

#Home {
    background-color: green;
}

#Projects {
    background-color: pink;
}

#Contact {
    background-color: yellow;
}

body {
    background-color: #C5C184;
}

html {
    
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding-top: var(--nav-bar-height);
}

/* #snap-container {
    height: 90vh;
    scroll-snap-type: proximity;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
} */

.snap-section {
    height: calc(100vh - var(--nav-bar-height));
    /* width: 100vw; */
    scroll-snap-align: start;
    scroll-padding-top: var(--nav-bar-height);
    /* scroll-padding-bottom: var(--nav-bar-height); */
    /* font-size: 2rem; */
}

/* --------------------------- */
/*          HEADING            */
/* --------------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6A932D;
    position: sticky;
    top: 0;
    align-items: center;
    height: var(--nav-bar-height);
    padding-left: 10px;
    padding-right: 10px;
}

header h1 {
    width: 40%;
}

#main-nav {
    width: 60%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    column-gap: 20px;
}
#main-nav a{
    color: black;
    text-decoration: none;
}
#main-nav a:hover {
    background-color: white;
}
#main-nav a p {
    font-size: 30px;
}


/* --------------------------- */
/*             BODY            */
/* --------------------------- */

/* ------------ Home ------------*/
#Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;

}

/* TODO Add a media query for the photo, might be easier than trying 
    to get this to work for all */
#selfie {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    border: 20px double black;
    animation: spin 10s ease-in-out infinite;
}

/* ------------ About ------------*/
#About {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#about-text {
    padding: 50px;
    background-color: white;
    max-width: 700px;
    margin: 0 auto 0;
}
.smile {
    font-size: 30px;
}

#about-text h2 {
    padding-bottom: 50px;
    text-align: center;
}

#about-text p {
    padding-bottom: 50px;
    text-indent: 5ch;
}

#resume {
    display: none;
    padding-left: 50px;
    width: 100%;
    height: 50%;
}

/* ------------ Projects ------------*/
#Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: white; */
}
#my-projects {
    height: 60%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.project-div {
    text-align: center;
    /* padding: 10%; */
    width: 300px;
    height: 300px;
    background-color: white;
}
.project-div p {
    /* width: 100%;
    height: 100%; */
    padding: auto auto;
}

@keyframes spin {
    0%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}



/* --------------------------- */
/*            FOOTER           */
/* --------------------------- */