:root {
    --nav-bar-height: 75px;
}

* {
    font-family: "Karla", sans-serif;
    /* Karla para */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1:not(#header-nav),
h2,
h3, #my-name {
    font-size: 75px;
    font-family: "Fredoka", sans-serif;
}

h3 {
    font-size: 45px;
}

p {
    /* letter-spacing: 0.3px; */
    font-size: 20px;
    /* Adjust size for readability */
    line-height: 1.6;
    /* Improves spacing between lines */
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding-top: var(--nav-bar-height);
}

/* #snap-container {
    height: 90vh;
    scroll-snap-type: proximity;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
} */

.snap-section {
    height: calc(100vh - var(--nav-bar-height));
    /* width: 100vw; */
    scroll-snap-align: start;
    scroll-padding-top: var(--nav-bar-height);
    /* scroll-padding-bottom: var(--nav-bar-height); */
    /* font-size: 2rem; */
}

/* --------------------------- */
/*          HEADING            */
/* --------------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    height: var(--nav-bar-height);
    padding-left: 50px;
}

header h1 {
    width: 40%;
}

#main-nav {
    width: 60%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    column-gap: 20px;
}


#main-nav a p {
    font-size: 30px;
}

/* stroke */
#main-nav a {
    position: relative;
}

#main-nav a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    background: #aaa;
    height: 1px;
}

#main-nav a:hover:after {
    width: 100%;
}

a {
    transition: all 500ms;
}

#main-nav a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

#main-nav a:hover {
    z-index: 1;
}

/* --------------------------- */
/*             BODY            */
/* --------------------------- */

/* ------------ Home ------------*/
#Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;

}

/* TODO Add a media query for the photo, might be easier than trying 
    to get this to work for all */
#selfie {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    /* animation: spin 10s ease-in-out infinite; */
}

/* ------------ About ------------*/
#About {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#about-text {
    padding: 50px;
    width: 50%;
    height: 80%
        /* margin: 100px 0 100px; */
}

.smile {
    font-size: 30px;
}

#about-text h2 {
    padding-bottom: 50px;
    text-align: center;
}

#about-text p,
.project-p {
    text-indent: 5ch;
}

#about-text p {
    padding-bottom: 50px;
}

#resume {
    display: none;
    padding-left: 50px;
    width: 100%;
    height: 50%;
}

/* ------------ Projects ------------*/
#Projects {
    height: calc((100vh * 2) - var(--nav-bar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tech-stacks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}


.tech-stacks img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#wger_api {
    object-fit: cover;
}

.stack-text {
    width: 150px;
    height: 100px
}

#my-projects {
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}

.project-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    width: 80vw;
}

.project-logo {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    padding: 20px;
}

.video-container {
  width: 400px;    /* or the width you want */
  height: 400px;   /* adjust to your desired aspect ratio */
  overflow: hidden; /* hide any excess edges */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* fill container while maintaining aspect ratio */
  object-position: center; /* center crop */
}

.project-div-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 20px;
    height: 100%;
}

.project-title {
    /* height: 10%; */
    text-align: center;
    margin-bottom: 20px;
}

/* ------------ Contact ------------*/
#Contact h2 {
    text-align: center;
    padding: 50px 0;
    /* width: 10px;; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    /* text-align: center; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 60vh;
    padding: 30px;
    margin: auto auto;
    /* height: 80%; */
}

.form-input {
    width: 90%;
}

input,
textarea {
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 20px;
}

.form-input label {
    font-size: 40px;
    font-family: "Fredoka", sans-serif;
    /* margin-left: 10px; */
}

input[type="submit"] {
    width: 50%;
    height: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
}

input[type="submit"]:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
}

input[type="submit"]:active {
    filter: brightness(0.9);
    transform: translateY(2px);
}

/* ------------ Animations ------------*/
@keyframes spin {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

/* Keyframes */



/* --------------------------- */
/*            FOOTER           */
/* --------------------------- */
footer {
    text-align: center;
    height: var(--nav-bar-height);
}
footer p {
     padding-top: 20px;
     opacity: 0.5;
}