:root {
    --nav-bar-height: 75px;
}

* {
    font-family: "Karla", sans-serif;
    /* Karla para */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1:not(#header-nav),
h2,
h3,
#my-name {
    font-size: 75px;
    font-family: "Fredoka", sans-serif;
}

#my-name {
    display: block;
}

h3 {
    font-size: 45px;
}

p {
    /* letter-spacing: 0.3px; */
    font-size: 20px;
    /* Adjust size for readability */
    line-height: 1.6;
    /* Improves spacing between lines */
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding-top: var(--nav-bar-height);
}

/* #snap-container {
    height: 90vh;
    scroll-snap-type: proximity;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
} */

.snap-section {
    height: calc(100vh - var(--nav-bar-height));
    /* width: 100vw; */
    scroll-snap-align: start;
    scroll-padding-top: var(--nav-bar-height);
    /* scroll-padding-bottom: var(--nav-bar-height); */
    /* font-size: 2rem; */
}

/* --------------------------- */
/*          HEADING            */
/* --------------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    height: var(--nav-bar-height);
    padding-left: 50px;
}

header h1 {
    width: 40%;
}

#main-nav {
    width: 60%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    column-gap: 20px;
}


#main-nav a p {
    font-size: 30px;
}

/* stroke */
#main-nav a {
    position: relative;
}

#main-nav a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    background: #aaa;
    height: 1px;
}

#main-nav a:hover:after {
    width: 100%;
}

a {
    transition: all 500ms;
}

#main-nav a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

#main-nav a:hover {
    z-index: 1;
}

/* --------------------------- */
/*             BODY            */
/* --------------------------- */

/* ------------ Home ------------*/
#Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;

}

#selfie {
    /* width: 500px; */
    /* width: 50%; */
    min-width: 500px;
    max-width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    /* animation: spin 10s ease-in-out infinite; */
}

#home-text {
    width: 50%;
}

/* ------------ About ------------*/
#About {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#about-text {
    padding: 50px;
    width: 860px;
}

.smile {
    font-size: 30px;
}

#about-text h2 {
    padding-bottom: 50px;
    text-align: center;
}

#about-text p,
.project-p {
    text-indent: 5ch;
}

.project-p {
    /* font-size: 100%; */
    margin-bottom: 20px;
}

#about-text p {
    padding-bottom: 50px;
}

#resume {
    display: none;
    padding-left: 50px;
    width: 100%;
    height: 50%;
}

/* ------------ Projects ------------*/
#Projects {
    height: calc((100vh * 2) - var(--nav-bar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project-description {
    height: 60%;
}

#wger_api {
    object-fit: cover;
}


.tech-stacks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 40%;
    gap: 10px;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.stack-text {
    display: flex;
    /* make the <a> a flex container */
    flex-direction: column;
    /* will stack img on top of h4 */
    align-items: center;
    /* center content */
    justify-content: space-around;
    width: 150px;
    height: 110%;
    /* give more room for image + text */
    text-decoration: none;
    /* clean link style */
    padding: 10px;
}

.stack-text img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.stack-text h4 {
    margin-top: 8px;
    font-size: 1rem;
    color: inherit;
}

.stack-text:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

#my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}

.project-div {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60%;
}

.project-logo {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
}

.video-container {
    width: 400px;
    height: 400px;
    overflow: hidden;

}

.video-container:hover {
    /* animation: zoom 5s linear infinite; */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project-div-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 20px;
    height: 400px;
}

.project-title {
    text-align: center;
    margin-bottom: 20px;
}

/* ------------ Contact ------------*/
#Contact h2 {
    text-align: center;
    padding: 50px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: clamp(800px, 65%, 1000px);
    height: 70%;
    padding: 30px;
    margin: auto auto;
}

.form-input {
    width: 90%;
}

input,
textarea {
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 20px;
}

.form-input label {
    font-size: 40px;
    font-family: "Fredoka", sans-serif;
}

input[type="submit"] {
    width: 50%;
    height: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
}

input[type="submit"]:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
}

input[type="submit"]:active {
    filter: brightness(0.9);
    transform: translateY(2px);
}

/* ------------ Animations ------------*/
@keyframes spin {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

@keyframes zoom {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(2);
    }
}



/* --------------------------- */
/*            FOOTER           */
/* --------------------------- */
footer {
    text-align: center;
    height: var(--nav-bar-height);
}

footer p {
    padding-top: 20px;
    opacity: 0.5;
}